.email-item {
  color: var(--vkui--color_text_primary);
  cursor: pointer;
  font-family: var(--vkui--octavius_font_family_global,var(--vkui--font_family_base,Helvetica,Arial,));
  letter-spacing: var(--vkui--font_text--letter_spacing--regular,normal);
  font-size: 15px;
  line-height: 20px;
  display: flex;

  .email__sender {
    padding-right: 8px;
  }

  .email__subject {
    white-space: nowrap;
    color: #93969b;
    display: inline;
  }

  .email__body {
    margin-left: 12px;
    color: var(--vkui--color_text_secondary);
    white-space: nowrap;
  }

  .email__date {
    margin-left: 24px;
    color: #93969b;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    width: 44px;
    min-width: 44px;
  }
}
